* { margin: 0; padding: 0; box-sizing: border-box; }
li { list-style: none; }
a { text-decoration: none; color: #212121 }
i { color: #212121 }
#header, #img-container, .content-text {
    background-color: #F6F6F6;
}
body { height: 3500px; background-color: #F6F6F6; }

/* ---헤더------------------------------ */
#header {
    height: 7vh;
    position: sticky;
    top: 0;
    z-index: 999;
    overflow: hidden;
}
.content-text {
    height: 5vh;
    position: sticky;
    top: 7vh;
    z-index: 999;
    border-top: 1px solid #212121; border-bottom: 1px solid #212121;
    text-align: center; line-height: 5vh;
    opacity: 0; display: none;
}
#menu ul {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
    #menu > ul > li > a {
        display: block;
    }
    /* 토글 메뉴 i 왼쪽 정렬 */
    /* #menu > ul > li:nth-child(1) {
        display: flex; font-size: 1.5rem; 
        justify-content: left; padding: 10px 10px;
    } */

    /* ---헤더 제목(왼쪽)------------------------------ */
    #menu > ul > li:nth-child(1) {
        display: flex; 
        justify-content: left;
        font-size: 1.5rem; font-family: 'Cinzel', serif; font-weight: bold;
        flex-grow: 1;
    }
    #menu > ul > li:nth-child(1) > a {
        padding: 5px 10px 5px 20px;
    }
    /* ---SNS 오른쪽 정렬------------------------------ */
    #menu > ul > li:nth-child(2) {
        display: flex;
        justify-content: right;
    }
    #menu > ul > li:nth-child(2) > a:nth-child(1) > i {
        font-size: 1.5rem; padding: 10px 10px 10px 10px;
    }
    #menu > ul > li:nth-child(2) > a:nth-child(2) > i {
        font-size: 1.5rem; padding: 10px 20px 10px 5px;
    }

.content-text {
    font-weight: bold; font-family: 'Open Sans', sans-serif;
}
/* ---내용(main)------------------------------ */
#main-container {
    height: 80vh; width: 100vw;
    position: relative;
    overflow: hidden;
}
#main-container .back-img {
    position: absolute;
    top: 0; left: 0;
    height: inherit; width: inherit;
    background-image: url(images/back-img.webp);
    background-attachment: fixed; background-repeat: no-repeat;
    background-position: center center; background-size: cover;
    overflow: hidden;
    z-index: -1;
}

#main-content {
    height: 100%;
    overflow: hidden; /* gsap에서 글자가 밖으로 나갔을때 배경 이상해짐 방지*/
    position: relative;
}
#main-content span {
    display: block; color: transparent; -webkit-text-stroke: 1px #F6F6F6;
}
#main-content span:nth-child(1){
    font-size: 5rem; 
    position: fixed; top:30%; margin-left: 10px;
}
#main-content span:nth-child(2) {
    font-size: 6rem;
    position: fixed; right: 0; bottom: 25%; margin-right: 10px;
}


/* ---내용(image)------------------------------ */
#img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#img-container .back-img {
    background-image: url(images/back-img.webp);
    background-attachment: fixed; background-repeat: no-repeat;
    background-position: center center; background-size: cover;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}
#img-container .img {
    width: 90%; height: 200px;
    margin-top: 30px;
    overflow: hidden;
    z-index: 99;
}
#img-container .img img {
    width: 100%; height: 100%;
    object-fit: cover;
}